{% extends '_layout.html' %}

{% block content %}

<h2>Welcome to Jello Workouts</h2>
<center>
  <img class="imghhome" src="{{ url_for('static', filename='images/workout1.jpg') }}" />
</center>
<p>
  Jello workouts, colloquially known as exercises that make your muscles feel like they're turning to "jello," have gained popularity as a fun and challenging fitness trend. These workouts typically involve high-intensity exercises that target various muscle groups, pushing individuals to their limits. The term "jello" is metaphorically used to describe the sensation of muscle fatigue and weakness after a rigorous workout. Participants often engage in dynamic movements, resistance training, and endurance exercises to achieve this unique sensation. Jello workouts not only provide physical benefits such as improved strength, flexibility, and cardiovascular health but also contribute to mental well-being by promoting stress relief and a sense of accomplishment. Whether it's through dance-inspired routines, intense strength training, or a combination of both, enthusiasts embrace the jello workout experience as a playful and effective way to stay active and maintain a healthy lifestyle.
</p>

{% endblock %}
